#hotbar .bar-controls, #hotbar #macro-list {
     color: var(--OceanBlues-text-light-color);
     background: var(--OceanBlues-bg-color);
     border: 1px solid var(--OceanBlues-border-color);
     box-shadow: 0 0 3px var(--OceanBlues-border-color) inset;
}


#hotbar .macro.inactive {
     box-shadow: 0 0 5px var(--OceanBlues-border-color) inset;
}

#hotbar .macro.active {
     background: var(--OceanBlues-bg-color);
}

#hotbar .macro:hover {
     box-shadow: 0 0 5px var(--OceanBlues-highlight-color) inset;
}

#hotbar .macro.active:hover {
     border: 1px solid var(--OceanBlues-highlight-color);
}


#hotbar .macro {
     border: 1px solid var(--OceanBlues-border-color);
     background: var(--OceanBlues-bg-color);
     box-shadow: 0 0 5px var(--OceanBlues-border-color) inset;
}