#scenes .scene {
	line-height: 35px;
	height: 35px;
	border: 1px solid var(--OceanBlues-border-color);
	box-shadow: 0 0 20px inset var(--OceanBlues-border-color);
	background-size: 110% auto;
}

#scenes .scene h3 {
	line-height: 35px;
	font-size: 1.4em;
}


.sidebar-tab .directory-list .directory-item {
	line-height: 25px;
}

.sidebar-tab .directory-list .directory-item img {
	flex: 0 0 25px;
	height: 25px;
	width: 25px;
}

#combat li.combatant .token-image {
	flex: 0 0 48px;
	height: 48px;
	width: 48px;
}

li.folder > .folder-header {
	padding: 3px;
	line-height: 20px;
}

#compendium li.compendium-pack {
	margin: 0px 4px;
	padding: 4px 0px;
	border-bottom: 1px solid var(--OceanBlues-border-color);
}

#compendium li.compendium-pack .pack-title {
	line-height: 20px;
	margin: 0px 0px 0px 0px;
}

#compendium li.compendium-pack .status-icons {
	top: 4px;
	right: 0px;
}

#compendium li.compendium-pack .compendium-footer {
	font-size: 85%;
}

#compendium li.compendium-pack .compendium-footer .entity-type {
	display: none;
}

