:root {
    --Whetstone-font-family-header: "Modesto Condensed";
    --Whetstone-font-family-body: "Signika";
    --Whetstone-font-family-mono: "monospace";
    --Whetstone-bg-app: #00000000;
    --Whetstone-bg-toolbar: #00000000;
    --Whetstone-bg-primary: #00000000;
    --Whetstone-fg-primary: #191813ff;
    --Whetstone-bg-secondary: #0000000d;
    --Whetstone-fg-secondary: #4b4a44ff;
    --Whetstone-bg-tertiary: #0000001a;
    --Whetstone-fg-tertiary: #7a7971ff;
    --Whetstone-text-highlight: #c53131ff;
    --Whetstone-accent-primary: #ff0000ff;
    --Whetstone-accent-secondary: #c53131ff;
    --Whetstone-border-primary: #eeede0ff;
    --Whetstone-border-secondary: #c9c7b8ff;
    --Whetstone-border-active: #c53131ff;
	--Whetstone-bg-app-contrast: white;
    --Whetstone-bg-app-half: hsla(0,0%,0%,0);
    --Whetstone-bg-app-darker: hsla(0,0%,0%,0);
    --Whetstone-bg-app-lighter: hsla(0,0%,10%,0);
    --Whetstone-bg-toolbar-contrast: white;
    --Whetstone-bg-toolbar-half: hsla(0,0%,0%,0);
    --Whetstone-bg-toolbar-darker: hsla(0,0%,0%,0);
    --Whetstone-bg-toolbar-lighter: hsla(0,0%,10%,0);
    --Whetstone-bg-primary-contrast: white;
    --Whetstone-bg-primary-half: hsla(0,0%,0%,0);
    --Whetstone-bg-primary-darker: hsla(0,0%,0%,0);
    --Whetstone-bg-primary-lighter: hsla(0,0%,10%,0);
    --Whetstone-fg-primary-contrast: white;
    --Whetstone-fg-primary-half: hsla(50,24%,10%,0.5);
    --Whetstone-fg-primary-darker: hsla(50,24%,0%,1);
    --Whetstone-fg-primary-lighter: hsla(50,24%,20%,1);
    --Whetstone-bg-secondary-contrast: white;
    --Whetstone-bg-secondary-half: hsla(0,0%,0%,0.0254902);
    --Whetstone-bg-secondary-darker: hsla(0,0%,0%,0.0509804);
    --Whetstone-bg-secondary-lighter: hsla(0,0%,10%,0.0509804);
    --Whetstone-fg-secondary-contrast: white;
    --Whetstone-fg-secondary-half: hsla(51,9%,29%,0.5);
    --Whetstone-fg-secondary-darker: hsla(51,9%,19%,1);
    --Whetstone-fg-secondary-lighter: hsla(51,9%,39%,1);
    --Whetstone-bg-tertiary-contrast: white;
    --Whetstone-bg-tertiary-half: hsla(0,0%,0%,0.0509804);
    --Whetstone-bg-tertiary-darker: hsla(0,0%,0%,0.101961);
    --Whetstone-bg-tertiary-lighter: hsla(0,0%,10%,0.101961);
    --Whetstone-fg-tertiary-contrast: white;
    --Whetstone-fg-tertiary-half: hsla(53,7%,48%,0.5);
    --Whetstone-fg-tertiary-darker: hsla(53,7%,38%,1);
    --Whetstone-fg-tertiary-lighter: hsla(53,7%,58%,1);
    --Whetstone-text-highlight-contrast: white;
    --Whetstone-text-highlight-half: hsla(0,75%,77%,0.5);
    --Whetstone-text-highlight-darker: hsla(0,75%,67%,1);
    --Whetstone-text-highlight-lighter: hsla(0,75%,87%,1);
    --Whetstone-accent-primary-contrast: white;
    --Whetstone-accent-primary-half: hsla(0,100%,100%,0.5);
    --Whetstone-accent-primary-darker: hsla(0,100%,90%,1);
    --Whetstone-accent-primary-lighter: hsla(0,100%,100%,1);
    --Whetstone-accent-secondary-contrast: white;
    --Whetstone-accent-secondary-half: hsla(0,75%,77%,0.5);
    --Whetstone-accent-secondary-darker: hsla(0,75%,67%,1);
    --Whetstone-accent-secondary-lighter: hsla(0,75%,87%,1);
    --Whetstone-border-primary-contrast: black;
    --Whetstone-border-primary-half: hsla(56,6%,93%,0.5);
    --Whetstone-border-primary-darker: hsla(56,6%,83%,1);
    --Whetstone-border-primary-lighter: hsla(56,6%,100%,1);
    --Whetstone-border-secondary-contrast: black;
    --Whetstone-border-secondary-half: hsla(53,8%,79%,0.5);
    --Whetstone-border-secondary-darker: hsla(53,8%,69%,1);
    --Whetstone-border-secondary-lighter: hsla(53,8%,89%,1);
    --Whetstone-border-active-contrast: white;
    --Whetstone-border-active-half: hsla(0,75%,77%,0.5);
    --Whetstone-border-active-darker: hsla(0,75%,67%,1);
    --Whetstone-border-active-lighter: hsla(0,75%,87%,1);
}