:root {
	--Whetstone-font-family-header: 'Modesto Condensed';
	--Whetstone-font-family-body: 'Signika';
	--Whetstone-font-family-mono: monospace;
	--Whetstone-bg-app: #000000;
	--Whetstone-bg-toolbar: #000000;
	--Whetstone-bg-primary: #000000;
	--Whetstone-fg-primary: #191813;
	--Whetstone-bg-secondary: #000000;
	--Whetstone-fg-secondary: #4b4a44;
	--Whetstone-bg-tertiary: #000000;
	--Whetstone-fg-tertiary: #7a7971;
	--Whetstone-text-highlight: #c53131ff;
	--Whetstone-accent-primary: #ff0000;
	--Whetstone-accent-secondary: #c53131;
	--Whetstone-border-primary: #eeede0;
	--Whetstone-border-secondary: #c9c7b8;
	--Whetstone-border-active: #c53131;
	--Whetstone-bg-app-quarter: hsla(0,0%,0%,0.25);
	--Whetstone-bg-app-half: hsla(0,0%,0%,0.5);
	--Whetstone-bg-app-threequarter: hsla(0,0%,0%,0.75);
	--Whetstone-bg-app-shadow: hsla(0,0%,25%,1);
	--Whetstone-bg-app-dark: hsla(0,0%,25%,0.5);
	--Whetstone-bg-app-light: hsla(0,100%,50%,1);
	--Whetstone-bg-app-darker: hsla(0,0%,0%,1);
	--Whetstone-bg-app-lighter: hsla(0,0%,10%,1);
	--Whetstone-bg-toolbar-quarter: hsla(0,0%,0%,0.25);
	--Whetstone-bg-toolbar-half: hsla(0,0%,0%,0.5);
	--Whetstone-bg-toolbar-threequarter: hsla(0,0%,0%,0.75);
	--Whetstone-bg-toolbar-shadow: hsla(0,0%,25%,1);
	--Whetstone-bg-toolbar-dark: hsla(0,0%,25%,0.5);
	--Whetstone-bg-toolbar-light: hsla(0,100%,50%,1);
	--Whetstone-bg-toolbar-darker: hsla(0,0%,0%,1);
	--Whetstone-bg-toolbar-lighter: hsla(0,0%,10%,1);
	--Whetstone-bg-primary-quarter: hsla(0,0%,0%,0.25);
	--Whetstone-bg-primary-half: hsla(0,0%,0%,0.5);
	--Whetstone-bg-primary-threequarter: hsla(0,0%,0%,0.75);
	--Whetstone-bg-primary-shadow: hsla(0,0%,25%,1);
	--Whetstone-bg-primary-dark: hsla(0,0%,25%,0.5);
	--Whetstone-bg-primary-light: hsla(0,100%,50%,1);
	--Whetstone-bg-primary-darker: hsla(0,0%,0%,1);
	--Whetstone-bg-primary-lighter: hsla(0,0%,10%,1);
	--Whetstone-fg-primary-quarter: hsla(50,24%,10%,0.25);
	--Whetstone-fg-primary-half: hsla(50,24%,10%,0.5);
	--Whetstone-fg-primary-threequarter: hsla(50,24%,10%,0.75);
	--Whetstone-fg-primary-shadow: hsla(50,24%,25%,1);
	--Whetstone-fg-primary-dark: hsla(50,24%,25%,0.5);
	--Whetstone-fg-primary-light: hsla(50,100%,50%,1);
	--Whetstone-fg-primary-darker: hsla(50,24%,0%,1);
	--Whetstone-fg-primary-lighter: hsla(50,24%,20%,1);
	--Whetstone-bg-secondary-quarter: hsla(0,0%,0%,0.25);
	--Whetstone-bg-secondary-half: hsla(0,0%,0%,0.5);
	--Whetstone-bg-secondary-threequarter: hsla(0,0%,0%,0.75);
	--Whetstone-bg-secondary-shadow: hsla(0,0%,25%,1);
	--Whetstone-bg-secondary-dark: hsla(0,0%,25%,0.5);
	--Whetstone-bg-secondary-light: hsla(0,100%,50%,1);
	--Whetstone-bg-secondary-darker: hsla(0,0%,0%,1);
	--Whetstone-bg-secondary-lighter: hsla(0,0%,10%,1);
	--Whetstone-fg-secondary-quarter: hsla(51,9%,29%,0.25);
	--Whetstone-fg-secondary-half: hsla(51,9%,29%,0.5);
	--Whetstone-fg-secondary-threequarter: hsla(51,9%,29%,0.75);
	--Whetstone-fg-secondary-shadow: hsla(51,9%,25%,1);
	--Whetstone-fg-secondary-dark: hsla(51,9%,25%,0.5);
	--Whetstone-fg-secondary-light: hsla(51,100%,50%,1);
	--Whetstone-fg-secondary-darker: hsla(51,9%,19%,1);
	--Whetstone-fg-secondary-lighter: hsla(51,9%,39%,1);
	--Whetstone-bg-tertiary-quarter: hsla(0,0%,0%,0.25);
	--Whetstone-bg-tertiary-half: hsla(0,0%,0%,0.5);
	--Whetstone-bg-tertiary-threequarter: hsla(0,0%,0%,0.75);
	--Whetstone-bg-tertiary-shadow: hsla(0,0%,25%,1);
	--Whetstone-bg-tertiary-dark: hsla(0,0%,25%,0.5);
	--Whetstone-bg-tertiary-light: hsla(0,100%,50%,1);
	--Whetstone-bg-tertiary-darker: hsla(0,0%,0%,1);
	--Whetstone-bg-tertiary-lighter: hsla(0,0%,10%,1);
	--Whetstone-fg-tertiary-quarter: hsla(53,7%,48%,0.25);
	--Whetstone-fg-tertiary-half: hsla(53,7%,48%,0.5);
	--Whetstone-fg-tertiary-threequarter: hsla(53,7%,48%,0.75);
	--Whetstone-fg-tertiary-shadow: hsla(53,7%,25%,1);
	--Whetstone-fg-tertiary-dark: hsla(53,7%,25%,0.5);
	--Whetstone-fg-tertiary-light: hsla(53,100%,50%,1);
	--Whetstone-fg-tertiary-darker: hsla(53,7%,38%,1);
	--Whetstone-fg-tertiary-lighter: hsla(53,7%,58%,1);
	--Whetstone-text-highlight-quarter: hsla(0,75%,77%,0.25);
	--Whetstone-text-highlight-half: hsla(0,75%,77%,0.5);
	--Whetstone-text-highlight-threequarter: hsla(0,75%,77%,0.75);
	--Whetstone-text-highlight-shadow: hsla(0,75%,25%,1);
	--Whetstone-text-highlight-dark: hsla(0,75%,25%,0.5);
	--Whetstone-text-highlight-light: hsla(0,100%,50%,1);
	--Whetstone-text-highlight-darker: hsla(0,75%,67%,1);
	--Whetstone-text-highlight-lighter: hsla(0,75%,87%,1);
	--Whetstone-accent-primary-quarter: hsla(0,100%,100%,0.25);
	--Whetstone-accent-primary-half: hsla(0,100%,100%,0.5);
	--Whetstone-accent-primary-threequarter: hsla(0,100%,100%,0.75);
	--Whetstone-accent-primary-shadow: hsla(0,100%,25%,1);
	--Whetstone-accent-primary-dark: hsla(0,100%,25%,0.5);
	--Whetstone-accent-primary-light: hsla(0,100%,50%,1);
	--Whetstone-accent-primary-darker: hsla(0,100%,90%,1);
	--Whetstone-accent-primary-lighter: hsla(0,100%,100%,1);
	--Whetstone-accent-secondary-quarter: hsla(0,75%,77%,0.25);
	--Whetstone-accent-secondary-half: hsla(0,75%,77%,0.5);
	--Whetstone-accent-secondary-threequarter: hsla(0,75%,77%,0.75);
	--Whetstone-accent-secondary-shadow: hsla(0,75%,25%,1);
	--Whetstone-accent-secondary-dark: hsla(0,75%,25%,0.5);
	--Whetstone-accent-secondary-light: hsla(0,100%,50%,1);
	--Whetstone-accent-secondary-darker: hsla(0,75%,67%,1);
	--Whetstone-accent-secondary-lighter: hsla(0,75%,87%,1);
	--Whetstone-border-primary-quarter: hsla(56,6%,93%,0.25);
	--Whetstone-border-primary-half: hsla(56,6%,93%,0.5);
	--Whetstone-border-primary-threequarter: hsla(56,6%,93%,0.75);
	--Whetstone-border-primary-shadow: hsla(56,6%,25%,1);
	--Whetstone-border-primary-dark: hsla(56,6%,25%,0.5);
	--Whetstone-border-primary-light: hsla(56,100%,50%,1);
	--Whetstone-border-primary-darker: hsla(56,6%,83%,1);
	--Whetstone-border-primary-lighter: hsla(56,6%,100%,1);
	--Whetstone-border-secondary-quarter: hsla(53,8%,79%,0.25);
	--Whetstone-border-secondary-half: hsla(53,8%,79%,0.5);
	--Whetstone-border-secondary-threequarter: hsla(53,8%,79%,0.75);
	--Whetstone-border-secondary-shadow: hsla(53,8%,25%,1);
	--Whetstone-border-secondary-dark: hsla(53,8%,25%,0.5);
	--Whetstone-border-secondary-light: hsla(53,100%,50%,1);
	--Whetstone-border-secondary-darker: hsla(53,8%,69%,1);
	--Whetstone-border-secondary-lighter: hsla(53,8%,89%,1);
	--Whetstone-border-active-quarter: hsla(0,75%,77%,0.25);
	--Whetstone-border-active-half: hsla(0,75%,77%,0.5);
	--Whetstone-border-active-threequarter: hsla(0,75%,77%,0.75);
	--Whetstone-border-active-shadow: hsla(0,75%,25%,1);
	--Whetstone-border-active-dark: hsla(0,75%,25%,0.5);
	--Whetstone-border-active-light: hsla(0,100%,50%,1);
	--Whetstone-border-active-darker: hsla(0,75%,67%,1);
	--Whetstone-border-active-lighter: hsla(0,75%,87%,1);
}